/* 排序按钮 */
.fix-select {
    position: sticky;
    top: 0;
    transform: translateZ(0);
    z-index: 101;
    width: 100%;
    min-width: 1190px;
    height: 56px;
    clear: none !important;
    *zoom: 1;
    background-color: #2e3a47;
}

.fix-select .logo {
    margin-left: 54px;
    float: left;
    left: 60px;
    top: 34px;
    display: block;
    font-size: 36px;
    color: #c60023;
    font-weight: bold;
    text-decoration: none;
}

.sort-box {
    padding-left: 60%;
    overflow: auto;
    position: relative;
    float: left;
    width: 270px;
    height: 56px
}

.sort-box li {
    float: left;
    width: 90px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    color: #787d82;
    text-align: center;
    cursor: pointer;
}

.sort-box .active {
    color: #fff;
    background-color: #c60023;
}

/* 列表 */
.p-list-con {
    margin-top: 15px;
    margin-right: -20px;
    overflow: hidden;
}

.p-list-con .p-item {
    position: relative;
    display: block;
    float: left;
    width: 448px;
    border: 1px solid #f9f9f9;
    height: 220px;
    margin-bottom: 10px;
    margin-left: 42px;
    background-color: #fff;
    *zoom: 1;
    font: 12px/1.5 "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
    cursor: pointer;
}

.p-list-con .p-item:hover {
    border: 1px solid #c60023;
}

.p-list-con .p-item .p-img {
    *position: relative;
    float: left;
    width: 220px;
    height: 220px;
    margin-right: 10px;
    text-align: center;
    *z-index: -1
}

.p-list-con .p-item .p-img img {
    width: 100%;
    height: 100%;
}

.p-list-con .p-item .p-detail {
    float: left;
    width: 204px;
    padding-top: 10px;
    overflow: hidden;
}

.p-list-con .p-item .p-detail .p-name-con {
    height: 74px;
}

.p-list-con .p-item .p-detail .p-name-con .p-name {
    line-height: 26px;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.p-list-con .p-item .p-detail .p-name-con .p-subtitle {
    color: #fc353a;
    font-size: 15px;
}

.p-list-con .p-item .p-countdown {

}

.p-list-con .p-item .p-link {
    position: relative;
    padding-top: 30px;
}

.p-list-con .p-item .p-price {
    font-size: 0;
    font-family: arial, sans-serif;
}

.p-list-con .p-item .p-price .p-original-price {
    line-height: 20px;
    font-size: 14px;
    width: 110px;
    color: #aaa;
    text-decoration: line-through;
    font-style: normal;
}

.p-list-con .p-item .p-price .p-original-price i {
    margin-left: 2px;
    font-style: normal;
}

.p-list-con .p-item .p-price .p-seckill-price {
    line-height: 30px;
    font-size: 20px;
    color: #fc353a;
}

.p-list-con .p-item .p-price .p-seckill-price i {
    margin-left: 2px;
    font-weight: 700;
    font-size: 32px;
    vertical-align: baseline;
}

.p-list-con .p-item .p-detail .p-link-btn {
    /*border-color: #fcdcdd;*/
    color: #fc353a;
    background-color: #fcdcdd;
    position: absolute;
    right: 0;
    top: 37px;
    width: 82px;
    height: 38px;
    border: 1px solid #fcdcdd;
    border-radius: 4px;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
}

/*
.p-list-con .p-item .p-price-con {
    height: 30px;
    line-height: 30px;
}

.p-list-con .p-item .p-price-con .p-price {
    font-size: 16px;
    color: #e7380d;
}

.p-list-con .p-item .p-name-con {
    height: 40px;
    overflow: hidden;
}

.p-list-con .p-item .p-name-con .p-name {
    line-height: 20px;
    margin-bottom: 10px;
    color: #666;
    text-decoration: none;
}*/
