<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title %> - MMall电商平台</title>
</head>
<body>
<%= require('html-loader!./layout/nav.html') %>
<!--<%= require('html-loader!./layout/header.html') %>-->
<div class="fix-select">
    <div class="w">
        <div class="crumb-con">
            <a class="logo" href="./index.html">MMall</a>
            <div></div>
            <ul class="sort-box">
                <li class="sort-item active" data-type="default">进行中</li>
                <li class="sort-item" data-type="none">未开始</li>
            </ul>
        </div>
    </div>
</div>
<div class="w">
    <!-- list容器 -->
    <div class="p-list-con">
        <div class="p-item">
            <div class="p-img">
                <img src="<%= require('../image/test.jpg')%>" alt="图片"/>
            </div>
            <div class="p-detail">
                <div class="p-name-con">
                    <p class="p-name">标题</p>
                    <p class="p-subtitle">子标题</p>
                </div>
                <div class="p-countdown">
                    距结束
                    <div>
                        <span id="countdown"></span>
                    </div>
                </div>
                <div class="p-link">
                    <div class="p-price">
                        <div class="p-original-price">
                            ￥<i>99.9</i>
                        </div>
                        <div class="p-seckill-price">
                            ￥<i>79.9</i>
                        </div>
                    </div>
                    <div class="p-link-btn">马上抢</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 分页容器 -->
    <div class="pagination"></div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>